.about-page-main-content p{
    margin-top: 1rem;
}
.about-page-main-content .button-for-left-form{
    border-radius: 25px;
}
.left_text_box p{
    margin-top: 1rem;
}
.card-wrapper{
    display: block;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.content_branches .card-wrapper{
    min-height: 350px;
}
.content_branches .img_in_low_box{
    max-height: 130px;
    overflow: hidden;
}
.hlt-blog-page .content{
    align-items: flex-start;
    /*justify-content: flex-start;*/
}
.hlt-blog-page .card-wrapper{
    min-height: 400px;
}
.hlt-blog-page .card-btn{
    display: block;
}
.hlt-blog-page .body-card{
    min-height: 205px;
}

.cloud span{
    font-size: 50px;
    font-family: "almoni-dl-aaa-black";
}
.block-for-img-on-textpage-for-allWidth:hover{
    opacity: .8;
}
.about-page-main-content .button-for-left-form a{
    color: white;
    text-decoration: none;
}
.page-numbers li span, .page-numbers li a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-numbers li .current{
    background: #00b4cb;
    border-radius: 50%;
    top: 0;
}
.card-btn a, .card-btn a:hover{
    color: white;
    text-decoration: none;
}
.content_wrapper a {
    text-decoration: none;
}
/*brunch-page*/
.location_border_in_up_box{
    align-items: center;
}
.location_border_in_up_box p{
    margin-bottom: 0;
}
.text_in_up_img{
    padding: 0 20px;
}
.content_wrapper a{
    color: white;
}
.right-text-body a{
    text-decoration: none;
    color: white;
}

/*attraction single*/
.text_in_middle_img, .text_in_middle_img_hotels_locations{
    display: inline-block;
}
.text_in_middle_img a, .text_in_middle_img_hotels_locations a{
    text-align: center;
}

.packeges-page .card-wrapper{
    min-height: 375px;
}

.left-sidebar-text h5, .left_text_box h5{
    font-size: 18px;
}
.left-sidebar-text p, .left_text_box p{
    font-size: 16px;
}
.left_text_box{
    padding: 23px 23px;
}
.left-sidebar-text{
    padding: 23px;
}

